{% extends "layout.html" %}
{% block content %}

<div id="content">

  <h1>
    {% if my_matches %}
    Your matches <h4><form action="{{ url_for('match.delete_cancelled_matches') }}" method=post>
      <button class="btn btn-danger" type=submit>Delete Cancelled Matches</button>
      </form></h4>
    {% elif all_matches %}
    All matches
    {% elif season_matches %}
    Season Matches for <a href="/season/{{ season.id }}">{{season.name}}</a>
    {% else %}
    Matches for <a href="/user/{{ match_owner.id }}"> {{ match_owner.name }}</a>
    {% endif%}
  </h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Match ID</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Status</th>
        <th>Start Time</th>
        <th>End Time</th>
        {% if my_matches %}
        <th>Server</th>
        <th></th>
        {% else %}
        <th>Owner</th>
        {% endif %}
        <th>Season</th>
      </tr>
    </thead>
    <tbody>

      {% for match in matches %}
      <tr>
        <td><a href="/match/{{match.id}}"> {{match.id}}</a></td>

        <td>
          {{ match.get_team1().get_flag_html(0.75) }}
          <a href="/team/{{match.get_team1().id}}"> {{match.get_team1().name}}</a>
        </td>

        <td>
          {{ match.get_team2().get_flag_html(0.75) }}
          <a href="/team/{{ match.get_team2().id }}"> {{match.get_team2().name}}</a>
        </td>

        <td>
          {{ match.get_status_string() }}
        </td>
        <td>
          {{ match.get_start_time() }}
        </td>
        <td>
          {{ match.get_end_time() }}
        </td>
        {% if my_matches %}
        <td>{% if match.get_server() is not none   %} {{ match.get_server().get_display() }} {% endif %}</td>
        <td>
          {% if match.pending() or match.live() %}
          <a href="/match/{{match.id}}/cancel" class="btn btn-danger btn-xs align-right">Cancel</a>
          {% endif %}
        </td>
        {% else %}
        <td> <a href="{{ match.get_user().get_url() }}"> {{ match.get_user().name }} </a> </td>
        {% endif %}
        {% if match.get_season() %}
        <td> <a href="/season/{{ match.get_season_id() }}"> {{ match.get_season().name }} </a> </td>
        {% else %}
        <td> <a> N/A </a> </td>
        {%endif%}
      </tr>
      {% endfor %}

    </tbody>
  </table>

</div>

{% if my_matches %}
<script>
  $(document).ready(function () {
    $("#matchmenu").addClass("active");
  })
</script>
{% endif %}

{% if all_matches %}
<script>
  $(document).ready(function () {
    $("#matches").parent().addClass("active");
    $("#matchmenu").addClass("active");
  })
</script>
{% endif %}

{% if season_matches %}
<script>
  $(document).ready(function () {
    $("#seasons").parent().addClass("active");
  })
</script>
{% endif %}

<script>
    $('table.table').DataTable({
      paging: true,
      lengthChange: false,
      "order": [],
      "filter": false,
      "bInfo" : false,
      pageLength: 20,
      preDrawCallback: function (settings){
        var api = new $.fn.dataTable.Api(settings);
        var pagination = $(this)
          .closest('.dataTables_wrapper')
          .find('.dataTables_paginate');
          pagination.toggle(api.page.info().pages > 1);
      }
    });
    
  </script>

{% endblock %}